body {
    font-family: Arial, sans-serif;
    background-color: #363434;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

.converter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

input, select, button {
    margin: 0 10px;
    padding: 10px;
}

.result {
    text-align: center;
    font-size: 1.2em;
    margin: 20px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #e9e9e9;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.conver{
    background-color: #0026ff;
    border-radius: 3px;
    color: #e9e9e9;
    font-weight: 700;
}